body{
  background-color: blue;
}
#box{
  display: inline-block;
}
#input{
  width: 400px;
  height: 200px;
  justify-content: center;
  text-align: left;
  margin-left: 350px;
  margin-top: 200px;
  border-radius: 20px;
  border-color: aqua;

}
#generateQuote{
  
}

